#primary {
    

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /*nesting css */
    figure:nth-child(2) {
        margin-inline: auto;
    }

    figure:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

