section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
       justify-self: end;
       align-items: center;
       gap: 8px;
       span {
        background-image: url(../assets/icons/seta.svg);
        width: 16px;
        height: 16px;
       }
    }
}

#featured img {
    height: 100%;
    object-fit: cover;
}

/* card */
#featured .card {
    position: relative; /*referência  para o before*/
    border-radius: 4px;
    overflow: hidden;
}

/* pseudo-elemento */
#featured .card::before { /*.card vira o elemento de referência, ::before é criado por cima da imagem*/
    content: ""; /*so funciona se tiver o content*/
    position: absolute; /*posiciona o ::before em relação ao pai*/
    inset: 0; /*ocupa 100% do tamanho do elemento pai*/
    top: 50%; /*top: 50% empurra o gradiente para começar no meio*/
    background: linear-gradient( /*O linear-gradient cria um efeito de sombra escura embaixo*/
        180deg,
        transparent 0%,
        #020617 100%
    );
}

figcaption {
    position:absolute;
    bottom: 0;
    padding: 24px;

    &:has(.text-lg){ /* è uma condicional onde se tiver o text-lg vai aplicar o padding*/
        padding: 12px;
    }

    h2 {
        margin-top: 8px;
    }
}


#weekly {
    header 
    &>div{
        grid-template-columns: repeat(4, 292px);
    }
    img {
        height: 160px;
    }   
    
    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
            font-weight: 800; /*peso da letra*/
        }
    }

}
